body {
    margin: 0;
    padding: 0 1rem;
    width: 18rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

hr {
    margin: 1;
}

.color-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.color-preview {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 1rem;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2rem;
}

p {
    font-size: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    border: none;
    background-color: white;
}