
body {
    margin: 0;
    padding: 0 1rem;
    width: 16rem;
}

h1 {
    color: #646f85;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

hr {
    margin: 1;
    height: 1px;
    background-color: #d0d0d0;
    border: none;
}

.color-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.color-preview {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2rem;
}

p {
    font-size: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    visibility: hidden;
    border: none;
    background-color: white;
}

li:hover .btn {
    visibility: visible
}

.footer {
    margin: 1rem 0;
}

#open-eyeDropper {
    padding: 12px 12px;
    border: none;
    border-radius: 4px;
    background-color: #646f85;
    color: white;
}

#msg {
    padding-left: 1rem;
    font-size: 12px;
}